
/* style settings for Google map */
	#map-canvas
	{
		width : 1200px; 	/* map width */
		height: 900px;	/* map height */
		margin-top: 20px;

	}
	#mapbod
	 {
		display: flex;
		justify-content: center;

	}
	.customlogo{
		font-family: 'Arbutus', cursive;
		margin-right:25px;
	}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .austininput{
  	padding-top:17px;
  }

  #sidebar {
  	position: absolute;
  }

#newbar {
	margin-top: 10px;
	position: relative;
	top: 1.2em;
}

.smallbar {
	position: relative;
	left: 10em;
	top: 1em;
}

.icon-thing {
	position: relative;
	bottom: 10px;
}

.footer-nav {
	padding: 20px;
	background: #ee6e73;
	text-align: center;
	font-size: 20px;
}